<main class="container p-3">

    <h1 class="h4">Primeng in Angular</h1>

    <!-- tabs -->
    <ul class="nav nav-pills justify-content-center my-4">
        <li class="nav-item">
            <a href="#cartoonCharacters" class="nav-link" data-bs-toggle="tab">Cartoon Characters</a>
        </li>
        <li class="nav-item">
            <a href="#checklistTabContent" class="nav-link active" data-bs-toggle="tab">Checklist</a>
        </li>
    </ul>

    <!-- tabs content -->
    <div class="tab-content p-4">
        <!-- cartoon tab  -->
        <div class="tab-pane fade" id="cartoonCharacters">
            <h2 class="h6 text-center">Cartoons Characters (basic table)</h2>

            <!-- cartoon data table basic, pagination-->
            <p-table #dt [value]="cartoonData" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,25,50]" [customSort]="false"
                [globalFilterFields]="['name','email', 'webrank']">

                <!-- global search -->
                <ng-template pTemplate="caption">
                    <div class="d-flex justify-content-end">
                        <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button> -->
                        <span class="p-input-icon-left">
                            <!-- <i class="pi pi-search"></i> -->
                            <input pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>

                <!-- header w sorting, filtering-->
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Name <p-sortIcon field="name">
                            </p-sortIcon>
                            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                            <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="webrank">Webrank <p-sortIcon field="webrank"></p-sortIcon>
                            <p-columnFilter type="text" field="webrank" display=" menu"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>

                <!-- body -->
                <ng-template pTemplate="body" let-cartoon>
                    <tr>
                        <td>{{cartoon.name}}</td>
                        <td>{{cartoon.email}}</td>
                        <td>{{cartoon.webrank}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

    </div>

    <!-- checklist tab -->
    <div class="tab-pane fade show active" id="checklistTabContent">
        <h2 class="h6 text-center">Checklist</h2>

        <form action="">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="npmOrCdn" checked>
                <label class="form-check-label" for="npmOrCdn">
                    NPM / CDN available
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="withoutAngular" checked>
                <label class="form-check-label" for="withoutAngular">
                    With/without Angular
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="bs5compatible" checked>
                <label class="form-check-label" for="bs5compatible">
                    Works with Bootsrap 5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enhancable" checked>
                <label class="form-check-label" for="enhancable">
                    Extensible (can add classes to make even more responsive)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="configurable" checked>
                <label class="form-check-label" for="configurable">
                    Configurable
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="builtInResponsivness" checked>
                <label class="form-check-label" for="builtInResponsivness">
                    Responsive features - good out of box, plus additional features like hiding columns, fixed positions
                    etc.
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="builtInExportButtons">
                <label class="form-check-label" for="builtInExportButtons">
                    Export buttons - copy, pdf, xslx, print?
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="pagination" checked>
                <label class="form-check-label" for="pagination">
                    Pagination
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="sort" checked>
                <label class="form-check-label" for="sort">
                    Sort
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="searchFilter" checked>
                <label class="form-check-label" for="searchFilter">
                    Search / filter
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="styleable" checked>
                <label class="form-check-label" for="styleable">
                    Easily styled table and buttons (easy enough)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="documentation" checked>
                <label class="form-check-label" for="documentation">
                    Good documentation and YT vids
                </label>
            </div>
        </form>
    </div>

    <hr>

    <!-- notes -->
    <details open="true">
        <summary>Notes</summary>
        <ul>
            <li>none</li>
        </ul>
    </details>

    <!-- resources -->
    <details>
        <summary>Resources</summary>

        <ul>
            <li><a href="https://www.primefaces.org/primeng/setup" target="_blank" rel="noopener noreferrer">Setup</a>
            </li>
            <li><a href="https://angular.io/guide/animations" target="_blank" rel="noopener noreferrer">Browser
                    Animation Module</a>
            </li>
            <li><a href="https://www.primefaces.org/primeng/table/sort" target="_blank"
                    rel="noopener noreferrer">Sort</a>
            </li>
            <li><a href="https://www.primefaces.org/primeng/table/filter" target="_blank"
                    rel="noopener noreferrer">Search/Filter</a>
            </li>

        </ul>
    </details>
</main>