<main class="container p-3">

    <h1 class="h4">Primeng in Angular</h1>

    <!-- tabs -->
    <ul class="nav nav-pills justify-content-center my-4">
        <li class="nav-item">
            <a href="#cartoonCharacters" class="nav-link" data-bs-toggle="tab">Cartoon Characters</a>
        </li>
        <li class="nav-item">
            <a href="#commentsTabContent" class="nav-link" data-bs-toggle="tab">Comments</a>
        </li>
        <li class="nav-item">
            <a href="#checklistTabContent" class="nav-link active" data-bs-toggle="tab">Checklist</a>
        </li>
    </ul>

    <!-- tabs content (basic) -->
    <div class="tab-content p-4">
        <!-- cartoon tab  -->
        <div class="tab-pane fade" id="cartoonCharacters">
            <h2 class="h6 text-center">Cartoons Characters (basic table)</h2>

            <!-- cartoon data table basic, pagination-->
            <p-table [value]="cartoonData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Webrank</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cartoon>
                    <tr>
                        <td>{{cartoon.name}}</td>
                        <td>{{cartoon.email}}</td>
                        <td>{{cartoon.webrank}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <!-- comments tab -->
        <div class="tab-pane fade" id="commentsTabContent">
            <h2 class="h6 text-center">Comments</h2>

            <!-- comments data table -->
            <table id="commentsDataTable" class="display table table-striped table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

    <!-- comments tab -->
    <div class="tab-pane fade" id="commentsTabContent">
        <h2 class="h6 text-center">Comments</h2>

        <!-- comments data table -->
        <table id="commentsDataTable" class="display table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- checklist tab -->
    <div class="tab-pane fade show active" id="checklistTabContent">
        <h2 class="h6 text-center">Checklist</h2>

        <form action="">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="npmOrCdn" checked>
                <label class="form-check-label" for="npmOrCdn">
                    NPM / CDN available
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="withoutAngular" checked>
                <label class="form-check-label" for="withoutAngular">
                    With/without Angular
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="bs5compatible" checked>
                <label class="form-check-label" for="bs5compatible">
                    Works with Bootsrap 5
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enhancable" checked>
                <label class="form-check-label" for="enhancable">
                    Extensible (can add classes to make even more responsive)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="configurable" checked>
                <label class="form-check-label" for="configurable">
                    Configurable (limited, and custom placement of UI requires some work)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="builtInResponsivness" checked>
                <label class="form-check-label" for="builtInResponsivness">
                    Responsive features - fixed columns, toggle columns
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="builtInExportButtons" checked>
                <label class="form-check-label" for="builtInExportButtons">
                    Export buttons - copy, pdf, xslx, print
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="styleable">
                <label class="form-check-label" for="styleable">
                    Easily styled table and buttons
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="documentation">
                <label class="form-check-label" for="documentation">
                    Good documentation (a lot to sift through, will have to check other resources too)
                </label>
            </div>
        </form>
    </div>

    <hr>

    <!-- notes -->
    <details open="true">
        <summary>Notes</summary>
        <ul>
            <li>xxx</li>
        </ul>
    </details>

    <!-- resources  -->
    <details>
        <summary>Resources</summary>

        <ul>
            <li><a href="https://www.primefaces.org/primeng/setup" target="_blank" rel="noopener noreferrer">Setup</a>
            </li>
            <li><a href="https://angular.io/guide/animations" target="_blank" rel="noopener noreferrer">Browser
                    Animation Module</a>
            </li>
        </ul>
    </details>
</main>